# Python
__pycache__/
*.egg-info/
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# OS specific
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Projektdokumentation
PROJECT_PLAN.md

# Cursor-spezifische Dateien
.cursor/
.cursorignore
.cursorindexingignore
*.cursor
